{
  "extends": ["airbnb-base"],
  "parserOptions": {
    "ecmaVersion": 9
  },
  "env": {
    "jest": true,
    "node": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "no-use-before-define": ["error", { "functions": false, "classes": true, "variables": true }],
    "max-len": 0
  }
}
